{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'blogapp/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

        <title>Django Djournal</title>

        <div class="page-header">
            <h1><a href="{% url 'blogapp:display_index' %}">Django Djournal</a></h1>
        </div>
    </head>

    <body>
        <div class="post-container">
            <h3><a href="">{{ post.title }}</a></h3>
            {{ post.content | safe }}<br>
        </div>
    </body>
</html>